body {
	font-family: Arial, Sans-Serif;
	font-size: 1em;
	color: #574E4E;
	vertical-align: top;
	margin: 0;
}

h1 {
	font-family: Playfair Display, Sans-Serif;
	text-align: center;
}

h2 {
	font-family: Playfair Display, Sans-Serif;
	font-weight: 400;
	font-style: italic;
	margin: 5px 0;
}

hr {
  border: none;
  border-top: 1px solid #574E4E;
}

blockquote {
	font-style: italic;
	color: #A6A6A6;
}

.pic {width: 100%;}

.main-container {
	width: 90%;
	margin:0 auto;
}